.vscode/settings.json
.idea/.gitignore
.idea/misc.xml
.idea/study_projects.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dbnavigator.xml
/.gigaide/gigaide.properties
/.idea/.gigateam/gigateam.properties
/.idea/codeStyles/Project.xml
