# macOS
.DS_Store
# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
*.egg
*.bak
.venv/
.venvs/
venv/
env/
.cache/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
logs/
*.log
node_modules/
*.log.*
/ANALYSIS.md
/.idea/*
